.buttons {
  margin: 15px auto 0;
  text-align: center;
  position: absolute;
  bottom: 100px;
  z-index: 999;
}



.buttons img {
  width: 10%;
  display: inline;
  margin: 0 15px;

}
.pop_title {
  background: black;
  color: white;
  top: 10px;
  right: 40px;
  height: 40px;
  padding: 13px;
}
.ion-card {
  width: 100%;
  margin: 0;
  //--background:  #fff;
}
.ion-slides {
  height: calc(100% - 60px);
  width: unset;
}

//.avatar {
//  background-size: 100% 100%;
//}

.ion-slide {
  width: 360px;
  height: calc(100% - 55px);
  direction: ltr;
}
ion-content {
  display: flex;
}


.ios {

  .buttons {
    bottom: 65px;
  }

}
