.buttons {
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 84px;
  z-index: 999;
}



.buttons img {
  width: 15%;
  display: inline;
  margin: 0 15px;
  background-color: rgba(255,255,255, 0.6);
  border-radius: 50%;

}
.pop_title {
  background: black;
  color: white;
  top: 10px;
  right: 40px;
  height: 40px;
  padding: 13px;
}
.ion-card {
  width: 100%;
  margin: 0;
  height: 100%;
  //--background:  #fff;
}
.ion-slides {
  height: calc(100% - 22px);
  width: unset;
}

//.avatar {
//  background-size: 100% 100%;
//}

.ion-slide {
  width: 100%;
  height: calc(100% - 44px);
  direction: rtl;
  margin-top: 0px;
}

.avatar {
  height: 100%;
}

ion-content {
  display: flex;
}

.left-tap, .right-tap {
  height: calc(100% - 40px);
  width: 70px;
  position: absolute;
  top: 40px;

}

.left-tap {
  left: 0;
}

.right-tap {
  right: 0;
}

.ios {

  .buttons {
    bottom: 65px;
  }

}
