<!--
  Generated template for the Dialog page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>dialog</ion-title>
  </ion-toolbar>

</ion-header>

<div (click)="back()" class="back-btn">
  <ion-icon name="ios-arrow-forward"></ion-icon>
</div>

<ion-content #content id="content" [scrollEvents]="true">
  <!--<div class="no_results" *ngIf="messages">{{ texts?.no_results }}</div>-->
  <ion-card class="user-block">
    <ion-list lines="none">
    <ion-item>
      <p class="dialog-avatar"  (click)="toProfilePage()" [ngStyle]="{ 'background-image': 'url(' + api.url + user.contactImage  + ')'}">{{texts.a_conversation_with}} {{texts.name}}</p>
    </ion-item>
    </ion-list>
  </ion-card>
  <div class="messages">
    <ion-card *ngFor="let msg of messages; let i = index" [ngClass]="{'other-msg': user.id == msg?.from }" class="usr_msg msg-item">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-content *ngIf="msg?.allowedToRead || msg?.from == api.userId" class="mtext" [innerHTML]="msg?.text"></ion-card-content>
            <ion-card-content *ngIf="!msg?.allowedToRead && msg?.from != api.userId" class="mtext">
              {{payment?.paymentText}} <a routerLink="/subscription">{{payment?.payLinkText}}</a>
              <span *ngIf="msg?.hasPoint"> {{payment.or}} </span>
              <span *ngIf="msg?.hasPoint" (click)="useFreePointToReadMessage(msg)" class="readMessageLink">{{payment?.pointsText}}</span>
            </ion-card-content>
<!--          <ion-card-content *ngIf="msg?.text.length === 0 && msg?.hasPoints == 0">-->
<!--            {{ msg?.paymentText }} <span class="linkPay" color="blue" (click)="subscription()">{{ msg?.payLinkText }}</span>-->
<!--          </ion-card-content>-->
<!--          <ion-card-content *ngIf="msg?.text.length === 0 && msg?.hasPoints == 1">-->
<!--            {{ msg?.paymentText }} <span class="linkPay" color="blue" (click)="subscription()">{{ msg?.payLinkText }}</span> או-->
<!--            <span color="blue" class="linkPay" (click)="useFreePointToReadMessage(msg)">{{ msg?.pointsText }}</span>-->
<!--          </ion-card-content>-->
          </ion-col>

          <ion-col  class="date-col"> <ion-card-content class="date" item-right>
            {{msg.dateTime}}
            <!--<ion-icon *ngIf="user?.id == msg.from" name="checkmark"></ion-icon>-->

          </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-icon *ngIf="user?.id != msg.from && !msg.isRead && (msg.delivered == true || msg.delivered == 'undefine') " name="done-all" class="v-ios-icon"></ion-icon>
      <ion-icon *ngIf="msg.delivered == false" name="checkmark" class="v-ios-icon"></ion-icon>
      <ion-icon color="primary" *ngIf="user?.id != msg.from && msg.isRead" name="done-all" class="v-ios-icon"></ion-icon>
      <ion-icon class="trash-icon" (click)="deleteMessage(msg, i)" name="trash"></ion-icon>
    </ion-card>
<!--    <div *ngIf="showTyping" class="typing-container">-->
<!--      <div class="chat-bubble">-->
<!--        <div class="typing">-->
<!--          <div class="dot"></div>-->
<!--          <div class="dot"></div>-->
<!--          <div class="dot"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>


  <ion-toolbar *ngIf="messages" id="form-dialog">
    <ion-button class="qmbtn" color="danger" (click)="ulToggle()">  הודעה מהירה </ion-button>
    <!--(ionBlur)="onCloseKeyboard()"-->
    <ion-textarea [disabled]="cantWrite" id="dialog-msg" (click)="onOpenKeyboard()" [(ngModel)]="message" placeholder=""></ion-textarea>
    <div class="clear-both"></div>
    <ion-button class="send-msg"   (click)="sendMessage()" color="danger">שלח</ion-button>
  </ion-toolbar>
  <ion-infinite-scroll #scroll position="top"  threshold="60%" (ionInfinite)="moreMessages($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div *ngIf="showUl" class="quickMessOpt">
  <li *ngFor="let qm of quickMessages" (click)="checkedQm = qm.id" [ngClass]="{'checked': qm.id == checkedQm}"> {{ qm.text }} </li>
  <ion-button class="sendQuickMessage" color="danger" (click)="sendQuickMessage()"> שלח </ion-button>
</div>
