 <!--
  Generated template for the Arena page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>arena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="no_results" *ngIf="renderUsers?.length == 0">{{ texts?.no_results }}</div>
  <ion-slides dir="rtl" ng-if="true" freeMode="true" loop="true" options="{loop: true, freeMods: true}" #slider  (ionSlideDidChange)="slideChanged()" class="ion-slides" >
    <ion-slide  *ngFor="let user of renderUsers" class="ion-slide">

      <ion-card *ngIf="user?.image" class="ion-card">
        <div class="clr"></div>
        <div class="pop_title"><span (click)="toProfile()">{{user?.username}},</span> {{user?.age}} {{user?.area}}</div>
        <div class="left-tap" (click)="swipe('left')"></div>
        <div class="avatar" (click)="toProfile()" [ngStyle]="{ 'background-image': 'url(' + user?.image +')'}"></div>
        <div class="right-tap" (click)="swipe('right')"></div>
      </ion-card>
    </ion-slide>


  </ion-slides>
  <div *ngIf="renderUsers?.length > 0" class="buttons">
    <img src="../../assets/img/icons/redthumb.png" class="like-red" (click)="goToSlide('dislike')">
    <img src="../../assets/img/icons/pmsg.png" (click)="toDialog()" id="send-msg">
    <img src="../../assets/img/icons/thumbgreen.png" id="heart-green" (click)="goToSlide('like')">
  </div>
</ion-content>
