
<ion-header>

  <ion-toolbar>
    <ion-title>recovery password</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div class="container">

    <h5> Please fill in the email you used to signup to the app, and a new password will be sent to your phone number</h5>


    <div class="ion-item">
      <ion-input class="ion-input" (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [ngClass]="{'border-red': email_err}" [(ngModel)]="form.email.value" type="email" placeholder="{{ form.email.label }}"></ion-input>
    </div>
    <div class="err">{{ email_err }}</div>

    <div padding>
      <ion-button [disabled]="isClicked" color="danger" size="small" (click)="formSubmit()" expand="block" >{{form.submit}}</ion-button>
    </div>
  </div>

</ion-content>
