.ion-input {
  background-color: #fff;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px !important;
}
.container {
  margin:auto;
  width: 80%;
}

h5 {
  margin:36px 0px 17px 0;
  font-size: 17px;
}

.ion-item {
  padding: 7px;
}

.border-red {
  border: 2px solid red;
}
.err {
  position: relative;
  bottom: 16px;
  right: 15px;
}