<!--
  Generated template for the Inbox page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>inbox</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div class="no_results" *ngIf="!users?.length">{{ texts?.no_results }}</div>
    <div class="container">

        <ion-card *ngIf="notifications">
            <ion-card-content (click)="openNotificationsDialog()">
                <!--          <div class="usr_img" *ngIf="user.photo" [ngStyle]="{ 'background-image': 'url('  + user.photoName + ')'}" ></div>-->
                <div class="usr_img"></div>
                <ion-card-title>
                    <div class="name"> {{notifications.from}} </div>
                    <div class="date">{{notifications.date}}</div>
                </ion-card-title>
                <div class="message">
                    <p>
                        {{ notifications.lastText | slice:0:45 }}...
                    </p>
                    <div class="counter message-counter" *ngIf="notifications.notReadCount > 0" >{{ notifications.notReadCount }}</div>
                </div>
            </ion-card-content>
        </ion-card>

      <ion-card class="ion-cart" *ngFor="let user of users; let i = index">
<!--        <div class="paying" *ngIf="user?.contactIsPaying == '1'"></div>-->
        <ion-card-content (click)="toDialogPage(user)">
<!--          <div class="usr_img" *ngIf="user.photo" [ngStyle]="{ 'background-image': 'url('  + user.photoName + ')'}" ></div>-->
          <div class="usr_img" *ngIf="user.photo" [ngStyle]="{ 'background-image': 'url(' + api.url  + user.photo + ')'}" ></div>
          <ion-card-title>
            <div class="name">{{ user.username }}</div>
            <div class="date">{{ user.date}}</div>
          </ion-card-title>
          <div class="message">
            <p>
              {{ user.message | slice:0:45 }}...
            </p>
            <div class="counter message-counter" *ngIf="user.newMessagesNumber > 0" >{{ user.newMessagesNumber }}</div>
          </div>
        </ion-card-content>
        <ion-icon class="delete-dialog-icon" (click)="deleteDialog(user, i)" name="trash"></ion-icon>
      </ion-card>


<!--        <ion-content>-->
<!--            <ion-virtual-scroll [items]="users" approxItemHeight="100%">-->
<!--                <ion-card *virtualItem="let item; let itemBounds = bounds;">-->
<!--                    <div>-->
<!--&lt;!&ndash;                        <ion-img [src]="item.imgSrc" [height]="item.imgHeight" [alt]="item.name"></ion-img>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <ion-card-header>-->
<!--                        <ion-card-title>{{ item.username }}</ion-card-title>-->
<!--                    </ion-card-header>-->
<!--                    <ion-card-content>{{ item.username }}</ion-card-content>-->
<!--                </ion-card>-->
<!--            </ion-virtual-scroll>-->
<!--        </ion-content>-->

    </div>
</ion-content>

