
<ion-header>

  <ion-toolbar class="toolbar-color">
    <ion-title>{{title}}</ion-title>
    <ion-buttons>
      <ion-button *ngIf="!multiple" (click)="close()" side="end">סגור</ion-button>
      <ion-icon *ngIf="multiple" (click)="close()" class="ion-checkmark-icon" name="checkmark-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="light" *ngIf="search" data-placeholder="חיפוש" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

    <div *ngFor="let item of options ; let i = index" [attr.data-index]="i">
      <div class="border-top" [ngClass]="{'selected': item.isSelected}" (click)="getItem(item)">
        {{item.label}}
      </div>
    </div>


  <ion-infinite-scroll #scroll  threshold="90%" (ionInfinite)="moreItems($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>