ion-header{
  background-color: #eee;
}
ion-content.content{
  background-color: #fff;
}
.bar-buttons-ios {
  margin-top: 0;
}
ion-item.item{
  background-color: #fff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}


.list.list-md, .list.list-ios{
  border-top: 2px #cccccc solid;
  border-bottom: 2px #cccccc solid;
}

.toolbar-color {
  color:white;
  text-align: center;
  --background: black;

}

.toolbar-title {
  text-align: center;
}

.border-top {
  padding: 18px 5px 7px 18px;
}

ion-searchbar {
  background-color: #000;
}

.searchbar-input {
  border-radius: 3px;
  background-color: #fff!important;
  --background: #fff;
}

.searchbar-input.sc-ion-searchbar-ios {
  --background: #fff;
}
.segment-button-indicator {
  background-color: #fff !important;
}

.ion-checkmark-icon {
  height: 30px;
  width: 30px;
  margin: -3px 7px 7px 3px;
}

.selected {
  background-color: #e2002073;
}

ion-button {
  float: right;
  background: transparent;
}
