
<ion-header>
  <ion-toolbar>
    <ion-title>fullScreenProfile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="myId != user.id" class="profile-buttons">
    <div (click)="toDialog(user)" class="message-profile-btn"><img src="../../assets/img/icons/pmsgbot.png"></div>
    <div *ngIf="user.isAddLike == false" (click)="addLike(user)" class="like-profile-btn"><img src="../../assets/img/icons/plike.png"></div>
    <div *ngIf="user.isAddLike" class="disabled like-profile-btn"><img src="../../assets/img/icons/plike.png"></div>
    <div *ngIf="user.isAddFavorite == false" (click)="addFavorites(user)" class="favorite-profile-btn"><img src="../../assets/img/icons/padd.png"></div>
    <div *ngIf="user.isAddFavorite" class="disabled favorite-profile-btn"><img src="../../assets/img/icons/padd.png"></div>
    <div *ngIf="api.videoShow" class="video-chat-btn" (click)="toVideoChat()">
    </div>
  </div>
  <div (click)="api.onBack()" class="close">
    <img alt="close" src="../../assets/img/icons/psclose.png">
  </div>
  <ion-slides>
    <ion-slide *ngFor="let usr of user.photos">
      <img *ngIf="!usr.isPrivate || user.photoStatus == 'allow' || user.myProfile" src="{{  usr.fullImage }}">
      <div *ngIf="usr.isPrivate && user.photoStatus != 'allow' && !user.myProfile" >
        <img src="{{ user.noPhoto }}" alt="" class="privatePhoto" (click)="askPhoto()">
        <div class="privateText" *ngIf="!user.myProfile" [innerHTML]="user.privateText" (click)="askPhoto()"></div>
      </div>

      <img src="../../assets/img/privet.png" class="privatePhotoImageText" *ngIf="usr.isPrivate" alt="">

    </ion-slide>
  </ion-slides>
</ion-content>
