.alert-tappable {
    text-align: right;
    direction: ltr;
}

.alert-radio-icon, .alert-checkbox-icon {
    left: auto;
    right: 13px;
}

.profile {
    /*background: url(http://nysugardaddy.wee.co.il/media/photos/358/219-face.png);*/
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #363e48;
    margin-top: -35px;
    margin-bottom: 10px;
}

.paying{
    position: absolute;
    background-image: url('https://www.greendate.co.il/images/main-pg-queen-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 48px;
    height: 33px;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#the_area {
    background: url(../img/icons/the-arena.png) center no-repeat;
    width: 28px;
    height: 21px;
    margin-right: 16px;
    background-size: contain;
}

#inbox {
    background: url(../img/icons/inbox.png) center no-repeat;
    width: 30px;
    height: 20px;
    margin-left: 3px;
    margin-right: 16px;
    background-size: contain;
}

page-search .scroll-content{
    margin-top: 59px !important;
}


#notifications {
    background: url(../img/icons/notifications_ft.png) center no-repeat;
    width: 28px;
    height: 22px;
    margin-right: 16px;
    background-size: contain;
}

#edit_photos {
    background: url(../img/icons/edit_photos.png) center no-repeat;
    width: 24px;
    height: 22px;
    margin-left: 2px;
    background-size: contain;
}

#change_password {
    background: url(../img/icons/change_password.png) center no-repeat;
    width: 24px;
    height: 22px;
    margin-left: 2px;
    background-size: contain;
}

#freeze_account {
    background: url(../img/icons/freeze_account.png) center no-repeat;
    width: 24px;
    height: 22px;
    margin-left: 2px;
    background-size: contain;
}

.right {
    float: right;
}

.alert-head {
    text-align: right !important;

}

.toolbar-content-ios{
    height: 76%;
    margin-top: 6.7%;
}

.bar-buttons-ios{
    height: 73%;
    margin-top: 5.7%;
}

page-search .scroll-content{
    margin-top: 59px !important;
}

.ios ion-content {
    pointer-events: auto;
}

iframe + .close-video{
    background-color: transparent !important;
}

iframe + .close-video div{
    background-color: transparent !important;
}

iframe + .close-video div button{
    font-size: 0 !important;
    background-color: transparent;
    background-image: url(/assets/img/video/buzi_b.png) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.redCall{
    color: red !important;
}
.greenCall{
    color: green !important;
    font-weight: bold !important;
}
