<div *ngIf="myId != user?.id" class="profile-buttons" [ngClass]="{'ios-btns': platform.is('ios')}">
    <div class="online"></div>
    <div (click)="toDialog(user)" class="message-profile-btn profiles-btn"><img
            src="../../assets/img/icons/pmsgbot.png"></div>
    <div *ngIf="user?.isAddLike == false" (click)="addLike(user)" class="like-profile-btn profiles-btn"><img
            src="../../assets/img/icons/plike.png"></div>
    <div *ngIf="user?.isAddLike" class="disabled like-profile-btn profiles-btn"><img
            src="../../assets/img/icons/plike.png"></div>

    <div *ngIf="user?.isAddFavorite == false && user.id " (click)="addFavorites(user)"
         class="favorite-profile-btn profiles-btn">
        <img src="../../assets/img/icons/padd.png">
    </div>

    <div *ngIf="api.videoShow" class="video-chat-btn" (click)="toVideoChat()"></div>

    <div *ngIf="user?.isAddFavorite" class=" favorite-profile-btn remove" (click)="addFavorites(user)"><img
            src="../../assets/img/icons/cap.png"></div>

    <div *ngIf="!user?.isAddVerify && !user.isVerify" class="addVerify" (click)="addVerify()">

        <div class="addVerify-image"></div>

    </div>
</div>

<div (click)="api.onBack(true)" class="back-btn">
    <div class="back-wrap">
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </div>
</div>


<ion-content overflow-scroll="false" [scrollEvents]="true" #content (ionScroll)="startAnimation()">
    <div class="container">
        <div class="online"></div>

        <div class="photos" [ngStyle]="{ 'direction': 'ltr'}">
            <ion-slides pager="true">

                <ion-slide *ngFor="let photo of user?.photos">
                    <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + photo.cropedImage + ')'}"
                         (click)="fullPagePhotos(photo.isPrivate)">
                        <div *ngIf="photo.isPrivate && !photo.allowToSee && !myProfile" class="privateText"
                             [innerHTML]="user.privateText"></div>
                        <img *ngIf="myProfile && photo.isPrivate" class="privateImageText" src="assets/img/privet.png">
                    </div>
                </ion-slide>


            </ion-slides>
        </div>
        <ion-spinner class="bg" *ngIf="!user?.form?.city"></ion-spinner>
        <div class="content" #content>
            <div class="notif" *ngIf="!user?.canWriteTo && myId != user?.id">{{ user?.textCantWrite }}</div>
            <div class="pmtitle">
                <!--                <div *ngIf="user?.isOnline" class="online-user"></div>-->
                <div class="online-user"></div>

                <strong>
                    {{user?.username}}
                </strong>
                <div *ngIf="user?.isNew" class="new-user"></div>
                <span class="age" [ngClass]="{'hebrew-name-age': user.hebrewUsername}">, {{user?.age}} </span>
                <div *ngIf="user?.isVerify" class="verify"></div>
                <span>{{user?.region_name}}</span>
                <div *ngIf="user?.isPaying" class="paying"></div>

            </div>
            <ion-button *ngIf="myProfile" color="danger" class="edit-btn" routerLink="/edit-profile"> Edit Profile
            </ion-button>
            <ion-button *ngIf="myProfile" color="danger" class="edit-btn" routerLink="/change-photos"> Edit Photos
            </ion-button>
            <div class="pmdetail">
                <div *ngFor="let field of user?.formKeys" class="pmbotul">
                    <li *ngIf="user?.form[field].value" [ngClass]="{'full': field == 'about' || field == 'looking'}">
                        <span class="one">{{user?.form[field].label }}</span><span
                            class="two">{{user?.form[field].value }}</span>
                        <div class="clr"></div>
                    </li>
                </div>
            </div>

            <div *ngIf="myId != user?.id && formReportAbuse.title" class="pmtitle bottom">
                <ion-button (click)="reportAbuseShow()" color="dark" class="report-abuse" side="start">
                    {{ formReportAbuse.title }}
                    <ion-icon name="megaphone" class="icon"></ion-icon>

                </ion-button>
                <ion-button *ngIf="!user?.isAddBlackListed" (click)="blockSubmit()" color="dark"
                            class="report-abuse block-button"
                            side="start">
                    {{ user?.texts?.lock }}
                    <ion-icon name="lock" class="icon"></ion-icon>
                </ion-button>
                <ion-button *ngIf="user?.isAddBlackListed" (click)="blockSubmit()" color="dark"
                            class="report-abuse block-button">
                    {{ user?.texts?.unlock }}
                    <ion-icon name="unlock" class="icon"></ion-icon>
                </ion-button>
            </div>

            <div *ngIf="isAbuseOpen" class="abuse-form">
                <ion-item>
                    <ion-textarea (click)="onClickInput()" (ionBlur)="onBlurInput"
                                  [(ngModel)]="formReportAbuse?.text.value" rows="3"></ion-textarea>
                </ion-item>
                <div class='btn-opt'>
                    <ion-button class="cancel" color="danger" (click)="reportAbuseClose()">{{
                        formReportAbuse.buttons.cancel }}
                    </ion-button>
                    <ion-button color="danger" (click)="abuseSubmit()">{{ formReportAbuse.buttons.submit }}
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
