<ion-header>

    <ion-toolbar>
        <ion-title>change-photos</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content forceOverscroll="true">
    <div class="container">
        <div *ngIf="new_user" class="inner_form_top ion-padding-horizontal">
            <ul>
                <li><span class="fnumber profileSpan">1</span><span class="ftext"></span></li>
                <li><span class="fnumber profileSpan">2</span></li>
                <li><span class="fnumber profileSpan">3</span></li>
                <li class="active"><span class="fnumber profileSpan">4</span></li>
                <!--<ion-item [ngStyle]="{ 'background': 'transparent', 'padding': '0' }"><span class="fnumber profileSpan">4</span></ion-item>-->
            </ul>
        </div>


        <ion-checkbox color="primary" class="ml-10" (ionChange)="updateShowOnHomepage()"
                      [(ngModel)]="showOnHomepage"></ion-checkbox>
        <ion-label class="va-top ml-10 ion-padding-bottom">{{ dataPage?.texts.agreeOnHomePage }}</ion-label>


        <div class="description" *ngIf="photos?.length == 1 && dataPage?.noPhoto == dataPage?.photos[0].face">
            <div #desk>{{safeHtml(desk)}}</div>
        </div>
        <div class="photos ion-margin-top">
            <ng-container *ngFor="let photo of photos">
                <!--        main photo    -->
                <div *ngIf="photo == 0 && dataPage?.noPhoto != dataPage?.photos[0].url" class="main photo"
                     (click)="edit(dataPage?.photos[photo])">
                    <div class="photo-img"
                         [ngStyle]="{ 'background-image': 'url(' + api.url + dataPage?.photos[photo].face + ')'}">
                    </div>
                    <span class="num">1</span>
                    <div class="remove">
                        <ion-icon name="create"></ion-icon>
                    </div>
                    <div class="small-status-text {{ dataPage?.photos[photo].isValid ? 'valid' : 'waiting' }}">
                        {{ dataPage?.photos[photo].statusText }}
                    </div>
                </div>
                <!--        photo       -->
                <div *ngIf="photo != 0" class="photo" (click)="edit(dataPage?.photos[photo])">
                    <div class="photo-img"
                         [ngStyle]="{ 'background-image': 'url(' + api.url + dataPage?.photos[photo].face + ')'}">
                    </div>
                    <div class="small-status-text {{ dataPage?.photos[photo].isValid ? 'valid' : 'waiting' }}">
                        {{ dataPage?.photos[photo].statusText }}
                    </div>
                    <div class="private" *ngIf="dataPage?.photos[photo]?.isPrivate"></div>
                    <span class="num">{{ getCount(photo) }}</span>
                    <div class="remove">
                        <ion-icon name="create"></ion-icon>
                    </div>
                </div>
            </ng-container>
            <!--            main photo placeholder       -->
            <div *ngIf="photos?.length > 0 && dataPage?.noPhoto != dataPage?.photos[0].url" class="photo"
                 (click)="add()">
                <div class="photo-img"
                     [ngStyle]="{ 'background-image': 'url(' +api.url+dataPage?.noPhoto + ')'}">
                    <span class="num">{{ dataPage?.photos?.length }}</span>
                    <span class="add"><ion-icon name="md-add"></ion-icon></span>
                </div>
            </div>
            <!--        normal photo placeholder       -->
            <div *ngIf="dataPage?.noPhoto == dataPage?.photos[0].url" class="main photo" (click)="add()">
                <div class="wrap">
                    <div class="photo-img"
                         [ngStyle]="{ 'background-image': 'url('+api.url+dataPage?.photos[0].url + ')'}"></div>
                    <span class="num">1</span>
                    <span class="add"><ion-icon name="md-add"></ion-icon></span>
                </div>
            </div>
        </div>
        <div class="description">
            <div [innerHTML]="description"></div>
        </div>

        <ion-button (click)="onHomePage()">Done</ion-button>
    </div>
</ion-content>
