ion-content {
  display: flex;
}

.wrap {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 24px;
  padding-bottom: 30px;
  height: calc(100% - 80px);
  overflow: scroll;
}

.photos {
  display: grid;
  gap: 5px;
  grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
  height: 450px;
  padding-inline: 8px;
}

.photo {
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  grid-area: 1/1/3/3;
}

.photo-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.remove, .add {
  position: absolute;
  height: 20px;
  width: 20px;
  right: -6px;
  bottom: -2px;
  color: red;
  background: white;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  z-index: 9999;
  text-align: center;
  font-weight: bold;
  padding: 2px 0;
}

.add {
  color: white;
  background: red;
}

.private {
  background-image: url(../../../assets/img/privet.png);
  background-repeat: no-repeat;
  height: 38px;
  width: 105px;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

ion-icon[aria-label=eye-sharp] {
  background-image: url(../../../assets/img/icons/cap.png);
  height: 20px;
  width: 20px;
}

.small-status-text {
  font-size: 11px;
  width: 100px;
  margin-right: 2px;
}

.small-status-text.valid {
  color: #23a71b;
}

.small-status-text.waiting {
  color: var(--rusty-red);
}

.ion-input, .datetime-text {
  background-color: #fff;
  height: 40px;
  margin: 10px auto;
  width: 94%;
  border-radius: 7px;
  padding: 8px 5px 8px 0 !important;
  position: relative;
}

.native-input.sc-ion-input-ios {
  background-color: white;
  border-radius: 73px;
  width: 100px;
  flex: 0;
}

.inner_form_top ul li {
  list-style-type: none;
}

.inner_form_top ul li:before {
  background: url(../../../assets/img/innerformarrow.png) no-repeat right bottom;
  content: "";
  margin: 0 10px 0 1px;
  padding: 6px 21px 0 0;
  position: absolute;
  top: -1px;
  bottom: 40px;
  //transform: rotate(180deg);
  right: 43px;
  height: 29px;
  filter: contrast(0.7);
}

.steps ul {
  width: 83%;
  float: right;
}

.inner_form_top {
  //padding: 12px 0 13px;
  border-bottom: 3px solid #fffefe;
}

.inner_form_top ul {
  display: block;
  overflow: hidden;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  direction: ltr;
}

.inner_form_top ul li {
  display: inline-block;
  position: relative;
  padding: 5px 18px;

}

.login-btn {
  width: 92%;
  margin: auto;
}

.inner_form_top ul li {
  padding: 0 23px 0 0;
  display: inline-block;
  margin: 0 4px;
}

.inner_form_top ul {
  text-align: center;
}

.inner_form_top ul li .fnumber {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  background: #a3a39a;
  -webkit-border-radius: 50%;
  font-weight: bold;
  display: block;
  text-align: center;
}

.description ul {
  margin-top: 0;
  -webkit-padding-start: 20px;
  list-style-type: disc;
}

.description {
  margin: 14px 7px;
  font-size: 13px;
}

ion-content {
  --overflow: auto;
}

ion-button {
  --border-radius: 50px;
  --background: var(--rusty-red);
  margin: 0 auto;
  display: block;
  width: 70%;
}

