//ion-item {
//  width: 89px;
//  height: 30px;
//  display: inline-block;
//  border-radius: 4px;
//  margin: 7px 0;
//}
//
//.container {
//  width: 80%;
//  margin: auto;
//}
//
//.code-section {
//  width: 53%;
//  margin: auto;
//
//  ion-button {
//    width: 68px;
//    float: left;
//  }
//
//}
//
//.ion-input {
//  margin-bottom: 10px;
//}


.activation-container {
  width: 65%;
  margin: 9px auto 70px;
}
.activation-label {
  color: #EE1D24!important;
  text-transform: none!important;
  font-size: 20px!important;
}
.activation-container .send {
  background-color: #EE1D24;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
}
.activation-container .smsReset {
  background-color: #ebedf2;
  padding: 9px;
  border-radius: 5px;
  font-size: 16px;
  margin: 3px 0;
}
.activation-problems {
  margin-top: 13px;
  background: #EE1D24;
  color: #fff;
  padding: 9px 12px;
  FONT-SIZE: 16PX;
  border-radius: 4px;
 }
.code {
  width: 95px;
  margin: 18px 13px 18px 0px;
  height: 30px;
  border-radius: 4px;
  border: none;
}


.activation-container .harsama-midsec {
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.harsama-midsec .label {
  float: right;
  width: 100%;
  text-align: right;
  margin: 2px 0 6px 6px;
}

.activation-container .harsama-midsec .inputdiv {
  width: 75.2%;
}

.error-message {
  margin-bottom: 10px;
}


.contact_submit {
  background: #e20020;
  color: #fff;
  padding: 6px 10px;
  margin: 9px 0;
  border: none;
  border-radius: 4px;
}

.border-red {
  border: 2px solid red;
}


.success-text {
  color: #80c13a;
  padding: 20px 0;
}

.textarea textarea {
  height: 90px;
}
