<ion-header>

    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content class="bg-image">


    <div class="login-form ion-padding" vertical="bottom" style="position: absolute; bottom: 0; right: 0; left: 0;">
        <div *ngIf="fbId" class="text-login-fb">
            <h2>{{form?.login.facebook.login_text_h }}</h2>
            <p>{{form?.login.facebook.login_text_p  }}</p>
        </div>
        <ion-input [(ngModel)]="form?.login.username.value" type="text"
                   placeholder="{{ form?.login.username.label }}"></ion-input>
        <ion-input [(ngModel)]="form?.login.password.value" type="password"
                   placeholder="{{ form?.login.password.label }}"></ion-input>
        <div *ngIf="errors" color="red" class="err">{{ errors }}</div>

        <div class="button-row">
            <ion-button (click)=formSubmit() class="login">
                {{ form?.login.submit }}
            </ion-button>

            <!--            <ion-button *ngIf="fingerAuth" tappable color="danger" (click)="fingerAuthentication()" expand="block">-->
            <ion-button tappable (click)="fingerAuthentication()" class="finger-login">
                <ion-icon slot="icon-only" name="finger-print"></ion-icon>
            </ion-button>

            <ion-button routerLink="/registration" routerDirection="forward">
                {{ form?.login.join_free }}
            </ion-button>
            <ion-button expand="block" class="underline" fill="clear" color="medium" routerLink="/password-recovery"
                        routerDirection="forward">
                {{ form?.login.forgot_password }}
            </ion-button>
        </div>
    </div>
</ion-content>
