
.err {
  text-align: center;
  font-size: 26px;
  background: var(--ion-color-black);
  margin-top: 14px;
  padding: 5px;
}

.link-registration {
  text-align: center;
  text-decoration: underline;
}

ion-card[_ngcontent-hlb-c0] {
  width: 40%;
}

.bg-image {

  //--background: #fff url(../../assets/img/bg.jpg)  no-repeat center/cover fixed;
  //background-size: cover;
  //background-position: center;
  --background: #252321 url(../../../assets/img/mobile-login-background-test.jpg) no-repeat center top/100%;
  background-size: cover;
  background-position: center
}


.underline {
  text-decoration: underline;
}

ion-item.item-md, ion-item.item-ios {
  background-color: transparent;
}

.text-input-md, .text-input-ios {
  margin: 8px;
}

ion-input {
  --background: #fff;
  background-color: white;
  margin-block: 12px;
  border-radius: 50px;
  --border-radius: 50px;
  --padding-start: 2em;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;

  ion-button {
    --border-radius: 50px;
    --background: #DC243E;
    margin-block: 0;
    flex: 1 0 100%;

    &.login {
      flex: 1 0 60%;
    }

    &.finger-login {
      //margin: -8px auto 11px;
      flex: 0 1 20%;
    }
  }
}


ion-footer {
  background-color: transparent;
  bottom: 30px;
}

.text-login-fb {
  width: calc(100% - 36px);
  color: #fff;
  background: rgba(0, 0, 0, .5);
  margin: 0 auto;
  border-radius: 5px;
  padding: 0px 8px 0px;
  box-shadow: 0px 0px 5px #fff;
}

.text-login-fb h2 {
  padding-top: 4px;
}

.text-login-fb p {
  padding-bottom: 7px;
}

@media (max-width: 320px) {
  button .button-inner {
    font-size: 0.8em;
  }
}

.facebook-login {
  height: 90%;
  margin-inline-end: 8px;
  position: relative;
}



