
.err {
  text-align: center;
  font-size: 26px;
  background: var(--ion-color-black);
  margin-top: 14px;
  padding: 5px;
}

.link-registration {
  text-align: center;
  text-decoration: underline;
}

ion-card[_ngcontent-hlb-c0] {
  width: 40%;
}

.bg-image {

  //--background: #fff url(../../assets/img/bg.jpg)  no-repeat center/cover fixed;
  //background-size: cover;
  //background-position: center;
  --background: #252321 url(../../../assets/img/mobile-login-background-test.jpg) no-repeat center top/100%;
  background-size: cover;
  background-position: center
}

ion-item.item-md, ion-item.item-ios {
  background-color: transparent;
}

.text-input-md, .text-input-ios {
  margin: 8px;
}

.login-btn {
  //  width: 90%;
  //  margin: 0 auto;
}

ion-input {
  background-color: #fff;
  //width: 90%;
  margin-block: 12px 8px;
  //margin: 12px auto 8px;
  //border-radius: 5px;
}

.btn {
  //margin: 0 5px;
  //width: 43.9%;
}

.small-btnim {
  display: flex;

  ion-button {
    flex: 0 1 100%;
  }

  //padding-bottom: 40px;
  //text-align: center;
}

.finger-login {
  margin: -8px auto 11px;
  width: 90%;
}

ion-footer {
  background-color: transparent;
  bottom: 30px;
}

.fbbtn {
  //width:90%;
  //margin: auto;
}

.text-login-fb {
  width: calc(100% - 36px);
  color: #fff;
  background: rgba(0, 0, 0, .5);
  margin: 0 auto;
  border-radius: 5px;
  padding: 0px 8px 0px;
  box-shadow: 0px 0px 5px #fff;
}

.text-login-fb h2 {
  padding-top: 4px;
}

.text-login-fb p {
  padding-bottom: 7px;
}

ion-input {
  --padding-start: 10px !important;
}

ion-content {
  display: flex;
}


@media (max-width: 320px) {
  button .button-inner {
    font-size: 0.8em;
  }
}

.facebook-login {
  height: 90%;
  margin-inline-end: 8px;
  position: relative;
}



