
.banner {
  position: absolute;
  bottom: 65px;
  z-index: 9;
  width: 80%;
  right: 10%;
}

ion-menu {
  height: calc(100% - 114px);
  /* margin: auto; */
  margin-top: 50px;
  z-index: 2;
}

footer {
  z-index: 3;
}
header {
  z-index: 3;
}

.footerTitle {
  margin-top: 5px;
}

.menu-item ion-badge{
  position: absolute;
  left: 25px;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
}
.new-background-color{
  --background: black!important;
}
.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}

.swiper-pagination-bullet-active {
  // background: #000;
}



.back-btn {
  position: fixed;
  display: block!important;
  z-index: 999;
  border-radius: 50%;
  background: rgba(233, 232, 229, 0.5);
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 45px;
  top: 89px;
  right: 9px;
  font-size: 27px;
  border: 1px solid rgba(1, 1, 1, 0.5);
}


.ios {

  .back-btn {
    top: 89px;
  }

}


.username {
  color: #ccc;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  margin-bottom: 15px;
}









.menu-item ion-badge {
  color: #000;
  background-color: white;
  border-radius: 3px;
  //margin-left: 25px;
}

.menu-profle-block {
  margin-top: 45px;
  position: relative;

}


#the_area {
  background: url(../assets/img/icons/the-arena.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#inbox {
  background: url(../assets/img/icons/inbox.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#showPhoto {
  background: url(../assets/img/icons/bakasht-white.png) center no-repeat;
  width: 23px;
  height: 27px;
  position: relative;
  top: 7px;
}

#notifications {
  background: url(../assets/img/icons/notifications_ft.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#edit_profile {
  background: url(../assets/img/icons/edit-profile.png) center no-repeat;
  width: 24px;
  height: 22px;
  margin-left: 2px;
  background-size: contain;
}

#edit_photos {
  background: url(../assets/img/icons/edit_photos.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#change_password {
  background: url(../assets/img/icons/change_password.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#freeze_account {
  background: url(../assets/img/icons/freeze_account.png) center no-repeat;
  width: 32px;
  height: 20px;
  background-size: contain;
}

#viewed {
  background: url(../assets/img/icons/viewed.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

#viewed_me {
  background: url(../assets/img/icons/viewed-me.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

#contacted {
  background: url(../assets/img/icons/contacted.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

#contacted_me {
  background: url(../assets/img/icons/contacted-me.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
  transform: scaleX(-1);
}

#favorited {
  background: url(../assets/img/icons/favorited.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

#favorited_me {
  background: url(../assets/img/icons/favorited_me.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

#blocked {
  background: url(../assets/img/icons/blocked.png) center no-repeat;
  width: 24px;
  height: 22px;
  background-size: contain;
}

.menu-one li, .menu-two li {
  list-style-type: none;
  font-size: 9px;
}

.footer-menu ion-icon[aria-label=pin],.footer-menu ion-icon[aria-label=search] {
  height: 25px;
  width: 31px;
  text-align: center;
  margin:  auto;
}







.toolbar-color{
  --background: #000000;
}

.toolbar-background-md, .toolbar-background-ios {
  --background: --ion-color-black;
}

#menu {
  background: url(../assets/img/icons/menu-trigger.png) center no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.logo {
  width: 200px;
  margin: auto;
  display: block;
  height:100%;
  --background: transparent;
}


.logo:focus {
  border:none;
}

.footer-menu ul li.more-btn.menu-right {
  border-right: 0;
  border-left: 1px solid #fff;
}

.right {
  float: right;
}

.left{
  float: left;
}

.clr {
  clear: both;
}

.nmobile_footer {
  background: #010100;
}

/* Mobile Footer */

.menu-one, .menu-two {
  bottom: 5px;
  background: #010100;
  padding: 0;
  margin: 0;
}

.menu-one {
  position: relative;
  width: 100%;
  float: right;
}
.menu-one li, .menu-two li {
  margin: 0;
  padding: 0;
}





.menu-two {
  margin-left: -100%;
  /* margin-left: 2%; */
  position: relative;
  width: 98%;
  float: right;
}

.footer-menu .menu-two span {
  color: #000000;
  background-color: #fff;
  //width: 21px;
  //height: 21px;
  line-height: 18px;
}

.footerMenu {
  font-weight: bold;
}

.or {
  width: 20%;
  margin: 15px auto;
  text-align: center;
}

/*
* Side Menu
*/

.menu-inner {
  transition-duration: 100ms !important;
}

.md ion-menu .menu-inner, .ios ion-menu .menu-inner {
  top: 70px;
  background: #39393f;
}

/*.md ion-menu .menu-inner .list-md, .ios ion-menu .menu-inner .list-ios {
  margin-top: 55px;
}*/

/*.ios ion-menu .menu-inner .list-ios {
  margin-top: 50px;
 }*/

#menu3 .menu-inner .list-md, #menu3 .menu-inner .list-ios {
  margin-top: 25px;
}

#menu3 .badge-md, #menu3 .badge-ios {
  background-color: #fff;
  color: #000;
}

.avatar {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;;
  background-color: #fff;

}

/*
* List Of Users
*/

.card-md, .card-ios {
  background: #fff;
}

.usr_img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title-md, .card-title-ios {
  font-size: 14px;
}

.card-title-md .name, .card-title-ios .name {
  font-weight: bold;
}

.bingoimg {
  padding: 13px 0 0 0;
}

.bingoimg img {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}

.usr_btn {
  background: #fff;
}

.usr_btn p {
  text-align: left;
}

.footer-menu {
  color: #fff;
}

.footer-menu ul li {
  float: left;
  width: 20%;
  font-size: 0.8em;
  text-align: center;
  position: relative;
}

.menu-one li {
  margin: 0 0 0 6px;
  font-size: 10px!important;
}



.footer-menu .menu-two li {
  margin-left: 7%;
  width: 18% ;
  height: 55px;
  font-size: 10px;
}

.footer-menu ul li img.online {
  width: 38px!important;
  margin-bottom: 1.5px;
}

.footer-menu ul li img {
  margin: 0 auto;
  max-height: 25px;
  height: 25px;
  display: block;
}

.footer-menu ul li span, .counter {
  padding: 0px 2px;
  display: block;
  position: absolute;
  //width: 34px;
  //height: 33px;
  min-height: 20px;
  min-width: 23px;
  text-align: center;
  background: #d50312;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 13px;
  color: #fefdfd;
  top: -10px;
  left: 0px;
  border: 2px solid #fefdfd;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

ion-footer.footer.footer-md *, ion-footer.footer.footer-ios * {
  overflow: visible !important;
}


.long-count {
  padding: 4px 2px!important;
}


ion-footer {
  background: #000;
  position: fixed;
  bottom:0;
}

ion-item.item-md, ion-item.item-ios {
  background-color: #dbdbd2;
  padding-left: 0;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0;
}

button.item-ios:not([detail-none]) .item-inner {
  background-image: none;
  padding-right: 0px;
}

.messageNotify {
  width: 100%;
  height: 85px;
  background: #f00;
  z-index: 99999;
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  right: 0;
}

.messageNotify ion-icon {
  float: left;
  padding: 5px 10px;
}

.messageNotify .name {
  text-align: right;
  margin: 15px 0 10px;
}

.messageNotify .avatar {
  float: right;
  width: 20%;
  margin: 3%;
  height: 75%;
  background-color: #f00;
}

.messageNotify .content {
  float: right;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

/** Footer **/

.footer .near-me ion-icon:before {
  font-size: 25px;
}
.settings {
  position: absolute;
  top: 0;
  left: 11px;
  padding: 19px;
  margin-left: -7px;
}
.footer-menu ul {
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-conatiner {
  background-color: #4e4e4f;
  margin: 0 0!important;
  height: 100%;
  overflow: auto;
  padding: 0 0;
}

.menu-back-btn {
  margin: 14px 100% 19px 20px;
}

#menu1 .contact-arrow {
  position: absolute;
  top: 6.4px;
  left: 51%;
  font-size: 20px;
}

.menu-text {
  position: relative;
  bottom: 2px;
  color: lightgray;
  padding: 6px;
  vertical-align: sub;
}

.menu-item {
  padding: 3px 8px 7px;
  position: relative;
  text-align: right;
}

.menu1logout {
  height: 100%!important;
}

.footer-menu ul li.more-btn {
  height: 60px;
  margin: -5px 0 -10px;
  width: 8% !important;
  z-index: 9999;
  float: left;
  border-left: 0;
  border-right: 1px solid #fff;
  position: relative;
  left: 1px;
}
.clear-both {
  clear: both;
}

.footer-menu ul li.more-btn ion-icon {
  font-size: 28px;
  margin-top: 15px;
}

.footer-menu ul li.more-btn .right-arrow{
  display: none;
}

.footer-menu .ion-md-more:before, .footer-menu .ion-ios-more:before {
  font-size: 35px;
  line-height: 55px;
}

.footer-menu .ion-md-mail:before, .footer-menu .ion-md-search:before, .footer-menu .ion-ios-mail:before, .footer-menu .ion-ios-search:before {
  font-size: 30px;
  line-height: 20px;
}

.footer-menu ul li.more-btn.menu-left {
  border-right: 0;
  border-left: 1px solid #fff;
  position: relative;
  right:1px;
}

.footer-menu ion-icon {
  display: block;
}

.footer-menu {
  .favorited, .favorited_me {
    .inbox_count {
      background: none;
      box-shadow: none;
      top: 11px;
      border: none;
      left: -5px;
      font-size: 12px;
    }
  }
}

ion-button {
  height: 35px;
  font-size: 14px;
}

.footerChecked {
  color: #e20020;
}


ion-footer.footer-md::before,
ion-footer.footer-ios::before {
  background-image: none;
}



/********/


.content {
  margin-bottom: 50px;
}

@media  screen and (max-width: 320px) {
  .social {
    left: -3px;

    .instagram {
      float: left;
      margin: 8px 0px 0px 2px;
    }

    .instagram a ion-icon {
      width: 28px;
      height: 28px;
    }

    .facebook {
      margin-left: 1px;
    }

    .facebook a image {
      width: 27px;
      height: 27px;
    }
  }

}

#showPhoto {

}

ion-footer {
  max-height: 60px;
}

.redCall {
  color: red !important;
}
.redCall {
  color: red !important;
}
.greenCall {
  color: green !important;
  font-weight: bold !important;
}

html,body {
  padding-top: 0!important;
  // --ion-safe-area-top: 26px!important;
  --ion-safe-area-top: 16px!important;
  direction: rtl;
}

.margin-top{
  margin-top: 20px;
}
