<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-menu-toggle class="menuToggle" menuToggle="left">
            <ion-icon id="menu"></ion-icon>
        </ion-menu-toggle>
        <div (click)="navigateHome()" class="logo"><img src="../assets/img/icons/logo.png" alt=""></div>
    </ion-toolbar>
    <!--  <ion-button (click)="getBingo(true)">-->
    <!--    TEST-->
    <!--  </ion-button>-->
</ion-header>

<!--
*******************************************************************************************************************
*****************************          start menu 1     ***********************************************************
*******************************************************************************************************************
-->
<ion-menu side="start" auto-hide="true" type="overlay" class="side-menu "
          [ngClass]="{'menu1logout': this.api.username == 'noname' || this.api.username == 'null' }" menuId="menu1"
          id="menu1" color="dark" contentId="main">

    <ion-content>

        <ion-list class="menu-container" color="dark">

            <div class="menu-profile-block" *ngIf="api.username != 'noname' && api.username != 'null'">
                <!--                <ion-icon class="settings" name="settings" (click)="menu2Active()"></ion-icon>-->
                <div (click)="openPage(menu_items_settings[2])" class="profile"
                     [ngStyle]="{ 'background-image': 'url(' + api.url + avatar + ')'}">
                </div>
                <div (click)="openPage(menu_items_settings[2])" class="username">{{ api.username }}</div>
            </div>
            <div *ngIf="is_login">
                <label class="flex margin-top" for="settings-checkbox">
                    <div class="menu-item">
                        <ion-icon slot="start" id="settings" name="settings" class="settings menu-item-icon"></ion-icon>
                        <span class="menu-text">settings</span>
                    </div>
                    <ion-icon slot="start" class="contact-arrow" ios="ios-arrow-back"
                              md="ios-arrow-back"></ion-icon>
                </label>
                <input type="checkbox" id="settings-checkbox" (change)="checkboxChecked($event)"/>
                <ul>
                    <div class="menu-item" *ngFor="let menu_item_settings of menu_items_settings"
                         (click)="openPage(menu_item_settings)">
                        <ion-icon id="{{menu_item_settings._id}}" name="{{menu_item_settings.icon}}"
                                  [ngClass]="['menu-item-icon', menu_item_settings.icon?'':'no-width']"></ion-icon>
                        <span class="menu-text">   {{menu_item_settings.title}}</span>
                    </div>
                </ul>
            </div>

            <div *ngFor="let menu_item of menu_items">
                <ng-container *ngIf="menu_item._id == 'stats'; else rowElement;">
                    <label class="flex" for="stats-checkbox">
                        <ng-container *ngTemplateOutlet="rowElement"></ng-container>
                        <ion-icon slot="start" class="contact-arrow" ios="ios-arrow-back"
                                  md="ios-arrow-back"></ion-icon>
                    </label>
                    <input type="checkbox" id="stats-checkbox" (change)="checkboxChecked($event)"/>
                    <ul>
                        <div class="menu-item" *ngFor="let menu_item_contact of menu_items_contacts"
                             (click)="openPage(menu_item_contact)">
                            <ion-icon id="{{menu_item_contact._id}}" name="{{menu_item_contact.icon}}"
                                      [ngClass]="['menu-item-icon', menu_item_contact.icon?'':'no-width']"></ion-icon>
                            <span class="menu-text">{{menu_item_contact.title}}</span>
                            <ion-badge class="end" *ngIf="is_login && menu_item_contact.count != 0"
                                       item-right>{{ menu_item_contact.count }}
                            </ion-badge>
                        </div>
                    </ul>

                </ng-container>

                <ng-template #rowElement>
                    <div *ngIf="(menu_item._id == 'subscription' && !api.isPay && api.isMan) || menu_item._id != 'subscription'"
                         class="menu-item" (click)="openPage(menu_item)">
                        <ion-icon slot="start" id="{{menu_item._id}}" name="{{menu_item.icon}}"
                                  [ngClass]="['menu-item-icon', menu_item.icon?'':'no-width']"></ion-icon>
                        <span class="menu-text" *ngIf="menu_item._id != 'showPhoto'">{{menu_item.title}}</span>
                        <span class="menu-text" *ngIf="menu_item._id == 'showPhoto'"
                              [innerHTML]="menu_item.title"></span>

                        <ion-badge slot="start"
                                   *ngIf="is_login && menu_item.count != 0">{{ menu_item.count }}</ion-badge>
                    </div>
                </ng-template>
            </div>

            <app-social [social]="social"></app-social>
        </ion-list>
    </ion-content>
</ion-menu>

<!--<img style="display: none;" class="banner" src="/images/spedate1.gif">-->
<a class="link-banner" *ngIf="banner?.img && is_login && banner?.img != null" href="{{banner?.link}}" (click)="goTo();">
    <img class="banner" src="{{banner?.img}}">
</a>


<ion-router-outlet id="main" [swipeGesture]="false"></ion-router-outlet>

<ion-footer *ngIf="is_login">

    <div class="footerMenu" position="bottom" *ngIf="api.username != 'noname' && api.username != 'null'">
        <div class="footer-menu">
            <ul class="menu-one">
                <li class="{{menu_item_footer._id}}" *ngFor="let menu_item_footer of menu_items_footer"
                    (click)="openPage(menu_item_footer)"
                    [ngClass]="{'footerChecked': api.checkedPage == menu_item_footer._id}">
                    <span *ngIf="is_login &&  menu_item_footer.count != 0 " class="inbox_count"
                          [ngClass]="{'long-count':  menu_item_footer.count.length > 2 }">
                        {{ menu_item_footer.count }}
                    </span>
                    <ion-icon *ngIf="menu_item_footer.icon != ''" name="{{menu_item_footer.icon}}"></ion-icon>
                    <img *ngIf="menu_item_footer.src_img" class="{{menu_item_footer._id}}"
                         src="{{menu_item_footer.src_img}}">
                    <div class="footerTitle">
                        <div>{{menu_item_footer.title}}</div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</ion-footer>


