.text-input-md {
  margin: 2px 0 0 10px;
}

.user-block {
  position: fixed;
  right: 16px;
  left: 16px;
}

.ios .user-block {
  margin-top: 25px !important;
}

.messages {
  padding-top: 90px;

  ion-card {
    margin: 0 0 16px 8vw;
    padding: 4px 12px;
  }

  ion-row {
    padding: 4px 0;

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .other-msg {
    margin: 0 8vw 16px 0;
  }
}

.messages ion-card:not(.other-msg) {
  background-color: #f5f2f2;
  box-shadow: 0px 2px 6px -2px;
}

.ios .messages {
  padding-top: 90px;
}

.date {
  margin: auto 0;
}

.readMessageLink {
  color: #5491ff;
}

.toolbar-ios {
  // margin-bottom: 7px;
  background-color: lightgrey;
}

.footer .toolbar-content-ios {
  margin-top: 7px;
  margin-bottom: 12px;
  height: auto;
}

.flex {
  display: flex;
  height: auto;
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: center;
}

ion-toolbar > .flex {
  flex-direction: row-reverse;
}

ion-textarea {
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  padding-inline-start: 2rem;
  margin-block-start: 0;
  margin-inside: 4px;
}

.send-msg {
  height: 40px;
}

.item-md, .item-ios {
  background-color: #fff;
}

ion-footer .toolbar-background-md,
ion-footer .toolbar-background-ios {
  background-color: #ecedf3;
}

ion-footer .toolbar-background-ios {
  height: 0px;
  margin-top: auto;
}

ion-avatar div {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;

}

.dialog-avatar {
  margin: 5px;
  line-height: 40px;
  background: left center no-repeat;
  background-size: 40px auto;
  text-align: center;
  width: 100%;
}


ion-toolbar {
  --min-height: 45px;
}


.qmbtn {
  position: absolute;
  inset-inline-start: 0;
  bottom: 50%;
  z-index: 31;
  transform: translateY(60%);
}


.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left],
.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left] {
  margin: 8px 13px;
}

ion-cart {
  border-radius: 0;
  width: 85%;
}

ion-toolbar {
  z-index: 1000;
}


.back-btn {
  top: 114px;
}

#form-dialog {
  --background: #ccc;
  position: fixed;
  bottom: 0;
  height: 52px;
}


scroll-content {
  position: relative;
}

.linkPay {
  color: #8acd16;
  text-decoration: none;
  border: none;
  transition: ease 0.2s;
}


ion-content {
  display: flex;
}

.quickMessOpt {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 126px;
  width: 80%;
  background: #ccc;
  margin: 0 auto;
  padding: 4px;
  direction: rtl;
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;
}

.quickMessOpt li {
  list-style: none;
  padding: 4px;
  border-radius: 3px;
  display: inline-block;

}

.sendQuickMessage {
  margin-right: auto;
  display: block;
  width: 20%;
}

.checked {
  background: #a7a7a9fa;
}

.typing-container {
  padding: 0 20px;
  margin-top: -8px;
}

.typing-open {
  height: calc(100% - 251px) !important;
}

.chat-bubble {
  background-color: #E6F8F1;
  padding: 3px 13px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
  float: left;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6CAD96; //rgba(20,105,69,.7);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6CAD96; // rgba(20,105,69,.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: #9ECAB9; //rgba(20,105,69,.4);
  }
  44% {
    transform: translateY(0px);
    background-color: #B5D9CB; //rgba(20,105,69,.2);
  }
}

.d-none {
  display: none;
}

.not-allowed {
  margin: 5px 8px;
  font-size: 14px;
  color: #000;
}
