.sort-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.sorting .close {
  font-size: 29px;
  justify-self: flex-end;
}

.sorting .open {
  position: absolute;
  z-index: 999;
  right: calc(50% - 8px);
  font-size: 26px;
}

.sortby {
  background: #fff;
  padding: 0 5px;
  border-radius: 5px;
  flex-grow: 1;
}

.sorting {
  width: 95vw;
  position: fixed;
  inset: 55px 0 auto 0;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  padding: 5px;
  border-radius: 6px;
  display: flex;

  ion-select {
    flex-grow: 1;
    align-items: center;
  }
}

.spacer {
  width: 2vw;
}

.search-btn {
  width: 40px;
  text-align: center;
  padding: 3px 0;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  font-size: 27px;
  display: grid;
  align-content: center;
  justify-content: center;
}


.sortby ion-select {
  padding: 0;
}

.select-icon {
  position: relative;
  top: 10px;
  left: 10px;
}

.mem-left {
  font-size: 15px;
  font-weight: normal;
  line-height: 32px;
}

.test {
  --background: #ccc;
}

.open {
  margin: 34px auto -35px;
  z-index: 999;
  font-size: 22px;
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
}

.open-div {
  height: 10px;
  //background-color: white;
  margin-bottom: 10px;
}

select-icon {
  display: none;
}

.ion-list {
  --background: #ccc;
  overflow: auto;
  width: 100%;
  margin: 10px 0 26px;
  display: flex;
  flex-wrap: wrap;
}

.platform-ios .sorting .icon-ios {
  font-size: 1.8em;
}

.loader {
  margin: 0 auto;
  text-align: center;
  height: 35px;
  width: 70px;
  position: relative;
  bottom: 35px;
}

.no_results {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}


ion-content {
  display: flex;
}

.container {
  padding-block-start: 55px;
}

.paying {
  top: 28px;
}

#video-chat {
  width: 20px;
  height: 20px;
  background-size: 14px;
  background: rgba(0, 0, 0, .6) url(../../../assets/img/video/camera.png) no-repeat center 6px;
  border-radius: 50%;
}
