<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content (ionScroll)="onScroll($event)" (ionScrollEnd)="endscroll($event)"
             class="has-header container page-hello-ionic">
    <div class="member cf sorting" slot="fixed">
        <ng-container *ngIf="options.filter">
            <ion-item class="sortby" lines="none">
                <ion-label>Sort by:</ion-label>
                <ion-select tappable (click)="ClickSortInput()" (ionChange)="sortBy()" [(ngModel)]="filter"
                            okText="Okay" cancelText="Dismiss" interface="popover">
                    <ion-select-option value="{{ f_filter.value }}" *ngFor="let f_filter of form_filter ">
                        {{ f_filter.label }}
                    </ion-select-option>
                </ion-select>
                <ion-icon tappable *ngIf="options.filter" (click)="filterStatus()" class="close"
                          name="close"></ion-icon>
            </ion-item>
            <div class="spacer"></div>
            <div class="search-btn" [routerLink]="'/search'">
                <ion-icon name="search"></ion-icon>
            </div>
        </ng-container>
        <ion-icon tappable *ngIf="!options.filter" class="open" (click)="filterStatus()"
                  name="ios-arrow-down"></ion-icon>
        <!--        end of sorting   -->
    </div>

    <div class="container">

        <!--<div *ngIf="!options.filter" class="open-div sorting">-->
        <ion-icon tappable *ngIf="!options.filter" class="open" (click)="filterStatus()"
                  name="ios-arrow-down"></ion-icon>
        <!--</div>-->


        <div class="no_results" *ngIf="users && users.length == 0">{{ texts?.no_results }}</div>
        <div class="ion-list">
            <app-short-profile *ngFor="let user of users" [user]="user" [params]="params" [texts]="texts"></app-short-profile>

        </div>
        <div class="clr"></div>
        <div *ngIf="loader && users != []" class="loader"><img src="../../assets/img/loader.gif"></div>
        <ion-infinite-scroll #scroll threshold="2000px" (ionInfinite)="moreUsers($event)" disabled="false">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div class="clear-both"></div>

</ion-content>
