.message-container {
  padding: 10px 15px;
  background-color: #fff;
  margin: 15px;
  border-radius: 6px
}

.time {
  font-size: 14px;
  color: gray
}

.content {
  padding-bottom: 20px;
}

.messages {
  padding-bottom: 40px;
}

.isRead {
  background-color: #e4e4e4;
}
