<ion-header>
    <ion-toolbar>
        <ion-title>registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #content scroll="true" overflow-scroll="true">
  <div class="container">
    <div class="inner_form_top">
        <ul>
            <li [ngClass]="{'active': step == 1}" (click)="edit_step(1)"><span class="fnumber profileSpan">1</span><span class="ftext"></span></li>
            <li [ngClass]="{'active': step == 2}" (click)="edit_step(2)"><span class="fnumber profileSpan">2</span></li>
            <li [ngClass]="{'active': step == 3}" (click)="edit_step(3)"><span class="fnumber profileSpan">3</span></li>

        </ul>
        <div class="clr"></div>
    </div>
    <div class="wrap">

            <div *ngFor="let field of formKeys; let i = index" [attr.data-index]="i">
                <div class="input text" *ngIf="form[field].type === 'text' && field !== 'phone'">
                    <div [ngClass]="{'yellow-bg': (err[formKeys[i]]?.errors) || (err[field]?.children?.errors[0])}" class="placeholder">{{ form[field].label }}
                    </div>
                    <div>
                        <ion-input (ionFocus)="onOpenKeyboard()" (ionBlur)="onHideKeyboard()" [ngClass]="{'border-red': (err[formKeys[i]]?.errors) || (err[field]?.children?.errors[0])}" class="ion-input" type="text" ngDefaultControl [(ngModel)]="form[field].value" required>
                        </ion-input>
                    </div>
                    <div class="err">{{ err[formKeys[i]]?.errors }}</div>
                </div>
                <div class="input text" *ngIf="form[field].type === 'textarea'"><div [ngClass]="{'yellow-bg': (err[formKeys[i]]?.errors) || (err[field]?.children?.errors[0])}" class="placeholder">{{ form[field].label }}
                </div>
                    <div>
                        <ion-textarea (ionFocus)="onOpenKeyboard()" (ionBlur)="onHideKeyboard()" rows="{{ (form[field].name == 'signUpTwo[about]' || form[field].name == 'signUpTwo[looking]') ? '8': '4' }}" [ngClass]="{'border-red': (err[formKeys[i]]?.errors) || (err[field]?.children?.errors[0])}" class="textarea" type="text" ngDefaultControl [(ngModel)]="form[field].value" required>

                        </ion-textarea>
                    </div>
                    <div class="err">{{ err[formKeys[i]]?.errors }}</div>
                </div>

                <div class="input text" *ngIf="!form[field].type && isObject(form[field])">
                    <div class="input text" *ngFor="let choose of getKeys(form[field])">
                        <div [ngClass]="{'yellow-bg': err[formKeys[i]]?.errors || err[field]?.children.first.errors}"   class="placeholder">{{form[field][choose].label }}
                        </div>
                        <div  class="ion-item">
                                <ion-input (ionFocus)="onOpenKeyboard()" (ionBlur)="onHideKeyboard()" [ngClass]="{'border-red': err[formKeys[i]]?.errors || err[field]?.children.first.errors }"  class="ion-input" type="{{form[field][choose].type == 'password' ? 'password' : 'text'}}" ngDefaultControl [(ngModel)]="form[field][choose].value" aria-required="true" minlength="7"></ion-input>

                        </div>
                    </div>
                    <div class="err">{{ err[field]?.children.first.errors }}</div>
                    <div class="err">{{ err[formKeys[i]]?.errors }}</div>
                </div>

                <div class="input text {{form[field].name == 'profile_two_api_v3[relationshipType]' ? 'relationshipType' : ''}}" *ngIf="form[field].type === 'entity' || form[field].type === 'choice'">
                    <div class="input">
                        <div [ngClass]="{'yellow-bg':  (err[formKeys[i]]?.errors && err[formKeys[i]]?.errors?.length != 0) || (err[field]?.children?.errors)}" class="placeholder">{{ form[field].label }}
                        </div>
                        <div class="ion-item"> <!--  *ngIf="form[field].name != 'signUpTwo[purposes]' || form[field].name != 'signUpTwo[interests]' || form[field].name != 'signUpTwo[veggieReasons]'" -->
                            <div [ngClass]="{'border-red': err[formKeys[i]]?.errors || err[form[field]]?.children?.errors[0]}" class="ion-input" (click)="openSelect2(form[field], field)">
                               <span class="selected-text">
                                    {{ form[field].value ? getValueLabel(field) : '' }}
                               </span>
                            </div>

                        </div>
                        <div *ngIf="form[field].name == 'profile_two_api_v3[relationshipType]'" class="helper"  (click)="openHelp()">?</div>
                        <div *ngIf="form[field].name == 'profile_two[sexOrientation]'" class="sexOrientationNotes"> {{form.sexOrientationNotes}}</div>


<!--                        <div class="ion-item"> &lt;!&ndash; *ngIf="form[field].name == 'signUpTwo[purposes]' || form[field].name == 'signUpTwo[interests]' || form[field].name == 'signUpTwo[veggieReasons]'" &ndash;&gt;-->

<!--                            <ion-select class="" detail="false" okText="אישור"  cancelText="ביטול" multiple="true" class="ion-input ion-select" [(ngModel)]="form[field].value" [ngClass]="{'border-red': err[formKeys[i]]?.errors || err[form[field]]?.children?.errors[0]}">-->

<!--                                <div class="select-text">מערכת יחסים </div>-->

<!--                                <div class="select-icon" role="presentation"><div class="select-icon-inner"></div></div><button type="button"></button>-->
<!--                                <ion-select-option  *ngFor="let option of form[field].choices;" value="{{ option.value }}">{{-->
<!--                                    option.label }}-->
<!--                                </ion-select-option>-->
<!--                            </ion-select>-->

<!--                        </div>-->

                        <div class="err">{{ err[formKeys[i]]?.errors }}</div>
                        <div class="err">{{  err[field]?.children?.errors }}</div>
                    </div>
                </div>
                <div class="input text" *ngIf="form[field].type === 'birthday'">
                    <div [ngClass]="{'yellow-bg':  (err[formKeys[i]]?.errors && err[formKeys[i]]?.errors?.length != 0) || (err[field]?.children?.errors)}" class="placeholder">{{ form[field].label }}
                    </div>
                    <div class="ion-item" >
                        <!--<ion-datetime ngDefaultControl [ngClass]="{'border-red': (err[formKeys[i]]?.errors) || (err[form[field]]?.children?.errors)}" [(ngModel)]="birth" displayFormat="YYYY MM DD" [max]="maxYear()"-->
                        <!--pickerFormat="YYYY MM DD" [doneText]="'אישור'" [cancelText]="'ביטול'" data-placeholder="{{birth}}">-->

                        <!--</ion-datetime>-->
                        <ion-datetime ngDefaultControl [ngClass]="{'border-red': (err[formKeys[i]]?.errors) || (err[form[field]]?.children?.errors)}" [(ngModel)]="birth" displayFormat="YYYY MM DD" [max]="maxYear()"
                                      pickerFormat="DD MM YYYY" mode="ios" [doneText]="'אישור'" [cancelText]="'ביטול'">

                        </ion-datetime>

                    </div>
                    <div class="err">{{ err[formKeys[i]]?.errors }}</div>
                    <div class="err">{{ err[field]?.children?.errors }}</div>
                </div>
                </div>


        <div *ngFor="let key of errKeys" class="bottom-err">
            <div *ngIf="err[key].children.first.errors">
                {{ ' * ' + err[key]?.children?.first.errors }}
            </div>
        </div>

        <div *ngIf="allfields  && allfields?.length != 0" class="err">{{ allfields }}</div>

        <ion-button (click)="formSubmit()">{{form?.submit}}
        </ion-button>
    </div>
  </div>
</ion-content>

