.searchbar-md .searchbar-clear-icon {
  background-image: none;
}

ion-datetime {
  padding: 7px 8px 7px 16px !important;
  margin: 12px 10px;
  max-width: 95%;
  width: 95%;
  float: left;
  height: 36px;
  background: #fff;
  border-radius: 5px;
}

.item-native {
  --background: #ccc;
}

.err {
  clear: both;
}

.container {
  margin: 0px 0 69px;
  overflow: auto;
}

.wrap {
  width: 94%;
  margin: 22px auto 0;
}

.ion-input, .datetime-text {
  background-color: #fff;
  height: 40px;
  margin: 10px auto;
  padding-right: 10px;
  width: 94%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.selected-text {
  width: calc(100% - 50px);
}

.native-input.sc-ion-input-ios {
  background-color: white;
  border-radius: 73px;
  width: 100px;
  flex: 0;
}

.inner_form_top ul li {
  list-style-type: none;
}

.steps ul {
  width: 83%;
  float: right;
}

.inner_form_top {
  padding: 17px 0 10px;
  border-bottom: 3px solid #fffefe;
}

.inner_form_top ul {
  display: block;
  overflow: hidden;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  direction: ltr;
}

.inner_form_top ul li:after {
  background: url(../../../assets/img/innerformarrow.png) no-repeat right top;
  content: "";
  margin: 0 10px 0 1px;
  padding: 6px 21px 0 0;
  position: absolute;
  top: 0px;
  bottom: 19px;
  right: -14px;
  height: 29px;
  filter: contrast(0.5);
}

.inner_form_top ul li {
  position: relative;
  margin: 0 10px 0 1px;
  padding: 0 23px 0 0;
  display: inline-block;
}

.input.text ion-icon {
  position: absolute;
  z-index: 9;
  top: 45px;
  right: 0;
}

ion-input {
  --padding-start: 8px;
}

ion-input.ion-input:before, ion-datetime:before, ion-searchbar:before, ion-select:before {
  background-color: #fff;
}

div.ion-input:before, ion-input.ion-input:before, ion-datetime:before, ion-searchbar:before, ion-select:before {
  content: "edit";
  background: url("../../../assets/img/edit.png") center/contain no-repeat;
  width: 25px;
  height: 100%;
  position: absolute;
  font-size: 0px;
  top: 0px;
  inset-inline-end: 8px;
  bottom: 0;
  z-index: 999;
  border-radius: 14px;
}

div.yellow-border {
  border: 2px rgba(255, 205, 0, 1) solid;
}

div.yellow-bg {
  background: rgba(255, 205, 0, 0.49);
}

.inner_form_top ul li.active .fnumber {
  background: var(--ion-color-danger);
  margin: 0 auto;
}

.inner_form_top ul li .fnumber {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  background: #a3a39a;
  -webkit-border-radius: 50%;
  font-weight: bold;
  display: block;
  text-align: center;
}

.item-md {
  padding-left: 0px;
}

.label-md {
  margin-top: 0px;
}

textarea {
  width: 100%;
}

.text-input-md, .text-input-ios {
  width: 95%;
}

.text-input-ios {
  margin-left: 3%;
}

.edit-img {
  float: right;
  margin-right: 20px;
}

.value {
  float: left;
  margin-left: 20px;
}

.value.agree {
  float: left;
  width: 87%;
  margin: 0;
  margin-bottom: 10px;
}

.input.agree {
  width: 12%;
}

.list-md {
  margin-top: 10px
}

ion-select.select {
  padding: 7px 8px 7px 16px;
  margin: 12px auto;
  max-width: 95%;
  width: 95%;
  float: left;
  height: 36px;
  background: #fff;
  border-radius: 5px;
}

.searchbar-md .searchbar-input {
  box-shadow: none;
  border-radius: 5px;
}

ion-list.search {
  margin-bottom: -5px;
}


.select-list ion-icon {
  margin-top: 18px;
  font-size: 19px;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  color: #000
}

.placeholder {
  background: #ccc;
  padding: 5px 5px;
}

.input {
  position: relative;
  width: 100%;
}

.absolute {
  position: absolute;
  right: 0;
  top: 45px;
  font-size: 17px
}


.input .item .item-inner .input-wrapper .ion-input:before,
.input .item .item-inner .input-wrapper ion-datetime:before,
.input .item .item-inner .input-wrapper ion-searchbar:before,
.input .item .item-inner .input-wrapper:before {
  right: auto;
  left: 0px;
}

.input .item .item-inner .input-wrapper ion-searchbar:before {
  display: none;
}

.input ion-item {
  text-align: right;
}

.input textarea {
  width: 100%;
  margin: 3% 0;
}


.input.agree .item.item-md .checkbox-md {
  margin: 0;
}

.border-red {
  border: 2px solid red;
}

.err {
  position: relative;
  bottom: 8px;
  right: 20px;

}

.bottom-err {
  position: relative;
  bottom: 10px;
  right: 42px;
  font-size: 15px;
  color: red;
}

.textarea {
  background-color: #fff;
  margin: 10px auto;
  width: 94%;
  border-radius: 7px;
  padding: 10px !important;
}

.ion-item {
  position: relative;
}

.select-icon {
  --background: none;
  display: none;
  visibility: hidden;
  position: absolute;
}

.select-icon-inner {
  left: -5px;
  margin-top: -6px;
  border-top: 14px solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.ion-select {
  appearance: none;
}

.ion-item {
  .select-icon {
    visibility: hidden;
  }
}

:host .select-icon-inner {
  display: none;
  visibility: hidden;
}


.item .item-inner .input-wrapper .input:before {
  right: auto;
  left: 0px;
}

.item .item-inner .input-wrapper ion-select:before {
  right: auto;
  left: 0px;
}

#about textarea, #looking textarea {
  width: 100%;
  margin: 3% 0;
}

.citylist {
  display: none;
}

.citylist {
  display: none;
}

shadowRoot .select-icon .select-icon-inner {
  position: absolute !important;
}

::ng-deep {
  .select-icon-inner { // Used to contain your deep change to a localized node
    position: absolute !important;
  }
}

ion-select {
  background-color: #fff;
}

.select-icon {
  --background: #fff;
}

ion-button {
  height: 34px;
}

.ios {
  //.container {
  //  margin: auto;
  //  height: calc(100% - 83px);
  //  overflow: auto;
  //}
  //
  //ion-button {
  //  margin-bottom: 55px;
  //}
}

ion-content {
  display: flex;
}

@media (max-width: 320px) {
  .input.agree {
    width: 13%;
  }
}


.helper {
  display: inline-block;
  background-color: #ccc;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 47px;
  width: 7%;
  height: 27%;
  padding: 1% 2%;
  text-align: center;
}

.relationshipType .ion-input {
  width: 87%;
  float: right;
  margin-right: 13px;
}

.sexOrientationNotes {
  font-size: 12px;
  margin: -5px 12px 6px 0px;
}



