<ion-card class="usr_profile" [class.d-none]="user?.hide" [class.vip]="user?.isVip">

  <div class="user-section" [ngClass]="{'disabled': !user?.canWriteTo}">
    <div *ngIf="user?.isPaying" class="paying" [class.vip]="user?.isVip"></div>
    <div *ngIf="user?.isOnline == true" class="online"></div>
    <div *ngIf="user?.isNew" class="new-user"></div>
    <div *ngIf="user?.isVerify" class="verify"></div>
    <div tappable="tappable" *ngIf="user?.photo == '/images/no_photo_2.jpg' || user?.photo == '/images/no_photo_1.jpg'" (click)="itemTapped(user)" [ngStyle]="{ 'background-image': 'url('+ user?.photo + ')'}"
         class="avatar"></div>

    <div tappable="tappable" *ngIf="user?.photo != '/images/no_photo_2.jpg' && user?.photo != '/images/no_photo_1.jpg'" (click)="itemTapped(user)" [ngStyle]="{ 'background-image': 'url(' + user?.photo + ')'}"
         class="avatar"></div>
    <div class="wrap">
      <ion-card-title tappable="tappable" #tappable (click)="itemTapped(user)">
        <div class="row">
          <span class="name" [ngClass]="{'long-name': user?.username?.length >= 12 }">{{user?.username}},</span>
          <span class="age">{{user?.age}}</span>
        </div>
        <div class="row">
          <span class="location">{{user?.area_name}}, {{user?.country_name}}</span>
          <span *ngIf="user?.distance" class="distance">{{user?.distance}} </span>
        </div>
      </ion-card-title>
      <ul class="profile-btn">
        <div tappable class="btn" (click)="toDialog(user)">
          <li id="mobmsg"></li>
          <div>{{texts?.message}}</div>
        </div>
        <div  tappable class="btn" [ngClass]="{'disabled': user?.isAddLike }" (click)="addLike(user)">
          <!--Message-->
          <li id="like-red"></li>
          <div>{{texts?.like}}</div>
          <!--Like-->
        </div>

        <div *ngIf="!api.videoShow && params?.list != 'favorite_me' && params?.list != 'black'" class="btn" (click)="addFavorites(user)">
          <li id="{{user?.isAddFavorite ? 'remove-green' :'add-green'}}"></li>
          <div>{{user?.isAddFavorite ? texts?.remove : texts?.add}}</div>
        </div>

        <!--is this is favorite_me list wee can only remove, cant add again-->
        <div *ngIf="!api.videoShow && params?.list == 'favorite_me'" tappable  class="btn" (click)="!user?.isAddFavorite && addFavorites(user)">
          <li id="add-green" [ngClass]="{'disabled': user?.isAddFavorite}"></li>
          <div>{{texts?.add}}</div>
        </div>

        <div tappable *ngIf="params?.list == 'black'" class="btn blocked"
             [ngClass]="{'disabled': !user?.isAddBlackListed }" (click)=block(user,false)>
          <li id="unblock"></li>
          <div>{{texts?.unblock}}</div>
        </div>

      </ul>
    </div>
  </div>
</ion-card>
