.d-none {
  display: none;
}

ion-card {
  margin: 7px 5px;
  border-radius: 12px;
}

//attempt at lighter border
//ion-card-title[_ngcontent-feu-c3] {
//  /* display: -webkit-box; */
//  display: flex;
//  /* -webkit-box-orient: vertical; */
//  /* -webkit-box-direction: normal; */
//  flex-direction: column;
//  -webkit-box-pack: space-evenly;
//  justify-content: space-evenly;
//  background: url(polyinlovebg100.png);
//  /* background-size: calc(100% - 2*6px) 100%; */
//  background-size: 100% 48px;
//  background-position: 0 2px;
//  background-repeat: no-repeat;
//  background-origin: border-box;
//  border: 14px solid pink;
//  -webkit-border-image: url(polyinlovebg80.png);
//  -o-border-image: url(polyinlovebg80.png);
//  border-width: 2px 0px;
//  border-image: url(polyinlovebg80.png) 1 1 stretch;
//  height: 52px;
//  /* box-sizing: content-box; */
//}

ion-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url("../../../assets/img/icons/polyinlovebg100.png");
  background-size: cover;
  border-block: 4px solid transparent;
  border-image: url("../../../assets/img/icons/polyinlovebg80.png") ;
  border-image-slice: 0;

  //color: white;
  height: 52px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-start;

    span {
      font-size: 16px;
      padding-inline-start: 8px;
    }
  }
}

.vip {

  .avatar {
    background-color: unset;
  }

  ion-card-title {
    background: #ffffff47;
    color: black;
    border-bottom: 1px solid darkgoldenrod;
    border-top: 1px solid darkgoldenrod;
  }

  .row {
    background: unset;
    color: black;
  }

  .user-section > .wrap {
    background: transparent;
  }

  .user-section:after {
    background: url(https://polyamorylove.com/images/backgroundgold.jpg);
    content: ' ';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 1;
  }

  .row.username-age {
    color: black;
  }

}

.online {
  top: 7px;
  right: 10px;
  height: 12px;
  width: 12px !important;
  background-color: #45d362;
  position: absolute;
  border-radius: 100%;
}

.card-md {
  width: calc(56% - 20px);
  float: left;
}

.card-ios {
  width: calc(55% - 23.6px);
  float: left;
}

.new-user {
  background: url(../../../assets/img/icons/new.png) no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  background-size: cover;
  left: 8px;
  top: 2px;
  z-index: 99;
}

.user-section > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.long-name {
  font-size: 12px !important;
  margin: 0 0 0 -2px;
  padding: 0 !important;
}


.ion-card-title {
  margin: 0;
  padding: 10px;
  height: 62px;
  background: black;
  text-align: right;
}

#mobmsg {
  background: url(https://www.polydate.co.il/images/main/send-msg.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#add-green {
  background: url(../../../assets/img/icons/fav-red.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#remove-green {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#like-red {
  background: url(../../../assets/img/icons/like-red.png) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

#cap {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
  width: 27px;
  height: 20px;
  background-size: contain;
}

#unblock {
  background: url(../../../assets/img/icons/unblock.png) center no-repeat;
  width: 27px;
  height: 20px;
  background-size: contain;
}

.verify {
  background: url(../../../assets/img/icons/verify.png) center no-repeat;
  height: 49px;
  width: 50px;
  position: absolute;
  bottom: 107px;
}


.user-section {
  //border: 1px solid #404040;
  //border-radius: 12px;
}

ul.profile-btn {
  height: 47px;
  padding: 8px 0;
  margin: 0;
  color: black;
}

ul.profile-btn li {
  float: none;
  margin: 0 auto;
}

ul.profile-btn .btn {
  margin-left: 3%;
  width: 30%;
  float: left;
}

ul.profile-btn .btn div {
  font-size: 12px;
  text-align: center;
}

.profile-btn li:last-child {
  margin: 0;
}

.user-section {
  position: relative;
}

.user-section > .wrap {
  background: white;
  border-radius: 12px;
}

.usr_profile .avatar {
  width: 100%;
  height: 192px;
  background-size: contain;
  background-position: center;
  border-radius: 11px 11px 0 0;
}

#video-chat {
  width: 20px;
  height: 20px;
  background-size: 14px;
  background: rgba(0, 0, 0, .6) url(../../../assets/img/video/camera.png) no-repeat center 6px;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

.card-md + ion-card, .page-hello-ionic .card-ios + ion-card {
  margin-top: 0;
}


ion-card.vip {
  box-shadow: 1px -1px 6px 1px;
  z-index: 1;
}
